name: Rolling Releases

on:
  push:
    branches:
      - master

jobs:
  run:
    name: Run action
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Setup SourcePawn Compiler
      uses: rumblefrog/setup-sp@v1.1.0
      with:
        version: "1.10.x"

    - name: Setup Ninja Build
      uses: ashutoshvarma/setup-ninja@master
      with:
        version: 1.10.0

    - name: Build Files
      run: |
        python3 configure.py
        ninja

    - name: Build Package
      # the package generation should probably be part of the ninja script itself
      run: |
        pushd build
        7za a -r package.zip configs/ scripting/ plugins/ gamedata/ translations/
        popd

    - name: Set commit hash
      id: vars
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: rr-${{ github.run_number }}
        release_name: Build ${{ steps.vars.outputs.sha_short  }}
        draft: false
        prerelease: true

    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./build/package.zip
        asset_name: package.zip
        asset_content_type: application/zip
